#login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 4;
  background-image: url('../img/bg.png');
  background-size: 100%;
  background-position: 50%;
}

#login #background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  background-image: url('../img/bg.png');
  background-size: 100%;
  background-position: 50%;
  -webkit-filter: blur(5px);
}

#login #logo {
  width: 40%;
  margin: 0 auto;
  background-image: url('../img/logo.png');
  background-size: 100%;
  min-height: 15%;
  background-repeat: no-repeat;
  position: relative;
  top: 25%;
  background-position: 50%;
}

#login .btn {
  width: 80%;
  margin: 0 auto;
  background-image: url('../img/login.png');
  background-size: 100%;
  min-height: 10%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  top: 40%;
  background-position: 50%;
}

.scroll {
  height: 100%;
}
 
#map {
  width: 100%;
  height: 100%;
}

#geoloc {
  position: fixed;
  bottom: 2%;
  right: 10%;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  border: none;
  border-radius: 26px;
  height: 52px;
  vertical-align: middle;
}

#left, #right {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 85%;
  background: linear-gradient(to bottom, #4B5DAC 0%, rgba(168, 207, 216, .9) 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  transition: left .2s ease-out, right .2s ease-out;
  z-index: 2;
}

#left {
  left: -80%;
}

#right {
  right: -80%;
}

#left.swiped {
  left: 0px;
  z-index: 3;
}

#right.swiped {
  right: 0px;
  z-index: 1;
}

#leftswipe, #rightswipe {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 5%;
}

#leftswipe {
  left: 5%;
}

#rightswipe {
  right: 5%;
}

#search-place {
  position: fixed;
  top: 2%;
  right: 15%;
  width: 60%;
  z-index: 1;
}

#search-place label {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  border-bottom: 2px solid white;
  padding-left: 10px;
  transition: box-shadow .2s ease-out, background-color .2s ease-out;
}

#search-place.swiped label {
  box-shadow: none;
  background-color: transparent;
}

#search-place label i {
  color: #e1e1e1;
}

#search-place label input {
  color: white;
}

#search-place label input::-webkit-input-placeholder {
  color: #e1e1e1;
}

#search-place #search-place-predictions {
  background-color: rgba(0,0,0,.7);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color .2s ease-out;
}

#search-place.swiped #search-place-predictions {
  background-color: rgba(0, 10, 50, 0.9);
}

#search-place #search-place-predictions li {
  line-height: 3em;
  max-height: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid white;
  padding: 0px 10px;
  cursor: pointer;
}

#search-place.swiped #search-place-predictions li {
  border-color: 1px solid rgb(101, 124, 184);
}

#left img.profile-pic {
  position: absolute;
  right: -50px;
  top: 2%;
  border-radius: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

#left h2.name {
  margin: 0;
  position: absolute;
  top: 6%;
  left: 20px;
  color: white;
  font-family: "Open Sans";
}

#left .places {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 80%;
  height: 75%;
}

#left .places li {
  color: white;
  font: 20px "Open Sans";
  border-bottom: 1px solid white;
  text-align: right;
  padding: 15px 0;
}

#right {
  color: white;
  padding: 25% 5%;
}

#right h2, #right a {
  color: white;
}

#right .phone {
  display: block;
  text-decoration: underline;
  font-weight: 700;
  margin: 6% 0%;
  font-size: 1.1rem;
}

#right .website {
  text-decoration: underline;
  margin: 6% 0%;
}

#right .added {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

#right .added span {
  display: block;
  padding: 10px;
}

#right .added .add {
  background: white;
  color: rgb(123, 149, 193);
}

#right .added .remove {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5) inset;
  text-shadow: 0 2px 4px rgba(0,0,0,.5);
}