<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- lodash -->
    <script src='lib/lodash.js'></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource.js"></script>

    <!-- google maps + places library -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyClGJDuUnPapo-qhzY6iT8aWgAS0MvD_VQ&sensor=true&libraries=places"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/openfb.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="LoginController" ng-hide="userService.logged" style="z-index: 2;" ng-cloak>
      <ion-content scroll="false" scrollbar-y="false" scrollbar-x="false">
        <div id="login">
          <div id="background"></div>
          <div id="logo"></div>
          <div class="btn" ng-click="facebookLogin()"></div>
        </div>
      </ion-content>
    </ion-pane>

    <ion-pane ng-controller="ViewsController" ng-cloak>
      <ion-content scroll="false" scrollbar-y="false" scrollbar-x="false">
        <div ng-controller="MapController" class="scroll">
          <div id="map" data-tap-disabled="true"></div>
          <button id="geoloc" ng-click="geoloc()" class="button icon ion-pinpoint"></button>
        </div>
        
        <div id="left" ng-class="leftBarStatus" on-swipe-right="showLeftBar()" on-swipe-left="hideLeftBar()" ng-controller="LeftBarController">
          <img class="profile-pic" ng-src="http://graph.facebook.com/{{userService.user.fbid}}/picture?width=100&height=100">
          <h2 class="name">{{userService.user.name}}</h2>
          <ion-scroll zooming="false" direction="y" class="places">
            <ul>
              <li ng-repeat="place in userService.user.places" on-tap="showPlace(place)">{{place.name}}</li>
            </ul>
          </ion-scroll>
        </div>

        <div id="right" ng-class="rightBarStatus" on-swipe-left="showRightBar()" on-swipe-right="hideRightBar()" ng-controller="RightBarController">
          <div ng-show="currentPlace">
            <h2 class="name">{{currentPlace.name}}</h2>
            <div class="phone"><a href="tel:{{currentPlace.phone}}">{{currentPlace.phone}}</a></div>
            <div class="address">{{currentPlace.address}}</div>
            <div class="website" ng-show="currentPlace.website"><a on-tap="openExternal(currentPlace.website)">{{currentPlace.website}}</a></div>
            <div class="added">
              <span ng-hide="currentPlace.added" class="add" ng-click="add(currentPlace)">Add to my map</span>
              <span ng-show="currentPlace.added" class="remove" ng-click="remove(currentPlace)">Remove from my map</span>
            </div>
          </div>
        </div>

        <div id="search-place" ng-class="rightBarStatus" ng-controller="SearchPlaceController">
          <label class="item item-input">
            <input type="text" placeholder="Find a place" ng-model="query">
          </label>
          <ul ng-show="predictions" id="search-place-predictions">
            <li ng-repeat="prediction in predictions" on-tap="pick(prediction)">{{prediction.description}}</li>
          </ul>
        </div>

        <div id="leftswipe" on-swipe-right="showLeftBar()"></div>
        <div id="rightswipe" on-swipe-left="showRightBar()"></div>

      </ion-content>
    </ion-pane>
  </body>
</html>
