html, body {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: white;
}

#left-pane {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 280px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  float: left;
  box-shadow: 0 0 10px 0px black;
}

#user-info {
  height: 50px;
  line-height: 50px;
}

#user-photo {
  float: left;
  margin-right: 10px;
}

#user-photo > img {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
}

#center-pane {
  position: relative;
  float: left;
  width: 1156px;
  height: 100%;
}

#searchbox {
  position: absolute;
  top: 20px;
  left: 40px;
}

#searchbox input[type="text"] {
  width: 20em;
  border: 0;
  box-shadow: 0px 1px 5px -1px black;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
}

#autocomplete {
  background: white;
  margin: 0;
  padding: 10px 30px;
  list-style: none;
}

.address {
  font-size: 0.9em;
  color: #999999;
}

.add {
  border: 1px solid black;
  text-align: center;
  width: 4em;
  margin: 0px auto;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px;
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}