@import url(http://fonts.googleapis.com/css?family=Sigmar+One|Imprima);

html, body {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: white;
}

h1, h2, h3 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

fieldset {
  padding: 0;
  border: none;
}

.background {
  height: 100%;
  background-image: url('../assets/background-nb.jpeg');
  background-size: 100%;
}

.gradient {
  height: 100%;
  background-image: linear-gradient(0deg,rgba(3, 101, 192, 0.7),rgba(81, 167, 249, 0.7) 90%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .5);
  cursor: pointer;
  width: 160px;
  height: 60px;
  font-size: 24px;
  color: rgb(49, 114, 176);
  background-color: white;
  border: 2px solid white;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}

#logo {
  color: transparent;
  background-image: url('../assets/logo.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  height: 126px;
}

#login {
  width: 640px;
  padding: 20px;
  text-align: center;
}

#login h2 {
  font: 36px "Sigmar One";
  text-shadow: 0 1px 0px black;
}

#login form {
  margin-top: 50px;
}

#login input[type=text], #login input[type=password] {
  height: 25px;
  border: none;
  border-bottom: 2px solid #d1d1d1;
  width: 360px;
  padding: 10px 0px;
  font-size: 28px;
  outline: none;
  background: transparent;
  color: white;
  margin-bottom: 20px;
}

#login input[type=text]::-webkit-input-placeholder, #login input[type=password]::-webkit-input-placeholder { /* WebKit browsers */
  color: #d1d1d1;
  font-weight: 100;
}

#login input[type=text]:focus, #login input[type=password]:focus { /* WebKit browsers */
  color: white;
  border-color: white;
}

#login input[type=submit], #login input[type=button] {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .5), 0 2px 3px 0px rgba(0, 0, 0, .5) inset;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  cursor: pointer;
  width: 160px;
  height: 60px;
  font-size: 24px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

#login input[type=submit].login, #login input[type=submit].create {
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, .5);
  text-shadow: none;
  background: white;
  color: rgb(45, 112, 175);
}

#login input[type=submit].create {
  width: 360px;
}

#login form.padded-form {
  margin-top: 184px;
}

#login #signup {
  display: none;
}

#back {
  position: fixed;
  top: 50px;
  left: 50px; 
  cursor: pointer;
  color: white;
  font-size: 48px;
}


/* deprecated */

#left-pane {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  height: 100%;
  overflow-y: scroll;
  width: 20%;
  background-color: #164F86;
  float: left;
  box-shadow: 0 1px 2px 0px #111111;
  font-family: Lato;
  font-weight: 300;
  color: white;
}

#user-info {
  padding: 10px;
  text-align: center;
  font: 24px "Bree Serif";
  -webkit-font-smoothing: antialiased;
}

#user-photo > img {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 1px 4px 0 #333333;
}

#others {
  text-align: center;
  margin: 10px 0 40px 0;
}

#others #search-people {
  width: 60%;
  height: 25px;
  border: none;
  border-radius: 15px;
  padding: 0 10px 0 30px;
  background: #E6E6E6;
  outline: none;
  box-shadow: 0 1px 0px 0px black inset, 0 1px 0px 0px white;
}

#others #search-people::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(74, 74, 74);
}

#places-list {
  
}

#places-list li:nth-child(1) {
  border-top: 1px solid lightgrey;
}

#places-list li {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

#places-list li.active {
  background-color: #51A7F9;
}

#user-map {
  margin-top: 20px;
}

#center-pane {
  position: relative;
  float: left;
  width: 80%;
  height: 100%;
}

#map-canvas {
  height: 100%;
}

#pac-input {
  width: 300px;
  line-height: 30px;
  font-size: 14px;
  margin: 10px 20px;
  padding: 3px 10px;
  border-radius: 2px;
  border: 0;
  box-shadow: 0px 1px 2px 0 #111111;
  outline: none;
  background: #164F86;
  color: white;
}

#pac-input::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgrey;
}

#pac-input:focus {
  /*box-shadow: 0 0 0 1px lightgrey, 0px 1px 3px 0 black;*/
}

#add-custom {
  position: absolute;
  z-index: 1;
  margin: 10px 350px;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 2px;
  background: #164F86;
  box-shadow: 0 1px 2px 0 #111111;
  color: white;
  cursor: pointer;
  outline: none;
}

#map-modal {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 1;
  background-color: #164F86;
  box-shadow: 0 1px 2px 0px #111111;
  padding: 20px;
  font-family: "Open Sans";
  width: 300px;
  box-sizing: border-box;
  display: none;
  color: white;
}

.closer {
  text-align: right;
  font-family: Arial;
  cursor: pointer;
}

.remover {
  text-transform: uppercase;
  background-color: #F39019;
  text-align: center;
  border: 0;
  border-radius: 2px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 1px 2px #111111;
  cursor: pointer;
}

.address {
  font-size: 0.9em;
  color: #999999;
}