html {
  
}

body {
  
}

a {
  cursor: pointer;
}

.dropdown {
  background-color: white;
  position: absolute; 
}

.leftbar {
  float: left;
  width: 20%;
}

.map {
  position: relative;
  float: left;
  width: 80%;
}

.angular-google-map-container { 
  height: 100%; 
}

#place {
  position: absolute;
  background: white;
  top: 0px;
  right: 0px;
}